{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="signup-page">
  <div class="form_signup">
    <form class="register-form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      <h1 class="">{% trans "Sign Up" %}</h1>

      <p class="message_login">{% blocktrans %}Already have an account? Then please <a class="link_login"
          href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="create_ac">{% trans "Sign Up" %} &raquo;</button>
      </form>
  </div>
</div>

{% endblock %}