{% extends "base.html" %}

{% block content %}

<main style="max-width: 75rem; margin: auto; margin-top: 10rem;">
  <div id="aboutus">
    <header style="text-align:center;" class="title">
      <h1>About Us</h1>
    </header>
    <section>
      <article id="oslo-img">
        <img src="https://res.cloudinary.com/drwf1wdsc/image/upload/v1567500717/Shop_jxcutb.jpg" />
      </article>
    </section>
    <section id="about-oslo">
      <article>
        <p>
          Oslo Diner is a restaurant located in the heart of Dang, Ngaoundéré. We operate a unique system that allows
          you to book reservations and meals in advance up to as little as one hour before your arrival and be served
          immediately you arrive. <br>
          Our menu covers a vast array of local recipes of our country and is tailored to adapt to the ever dynamic
          taste of our customers. This means we have a flexible menu to accommodate the different desires of our
          customers at very affordable prices, because at Oslo Diner, <strong style="color: #E17108">“your taste is
            our command”</strong>.<br>
          Our 200 seater restaurant also doubles as an event center and we have the best event management and catering
          team on ground to make your dream event a reality.
        </p>

      </article>
    </section>
    <section></section>
  </div>
  <div id="team">
    <header style="text-align:center;" class="title">
      <h1>Our Team</h1>
    </header>

    <section>
      <div class="grid-container">
        <div class="item10">
          <div class="content">
            <img style="height: 100%;"
              src="https://res.cloudinary.com/sape123/image/upload/v1579260971/WhatsApp_Image_2020-01-17_at_12.10.42_k6fnes.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">Kuate Forster, Frontend</div>
          </div>
        </div>
        <div class="item11">
          <div class="content">
            <img style="height: 100%;"
              src="https://res.cloudinary.com/sape123/image/upload/v1571408607/IMG_20190518_183300_785_500x466_2_sykpju.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">Brandone Sape. Project Manager</div>
          </div>
        </div>
        <div class="item12">
          <div class="content">
            <img style="height: 100%;"
              src="https://res.cloudinary.com/sape123/image/upload/v1579260975/WhatsApp_Image_2020-01-17_at_12.18.01_puhcai.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">Miche Frank, Frontend</div>
          </div>
        </div>
        <div class="item13">
          <div class="content">
            <img style="height: 100%;"
              src="https://res.cloudinary.com/sape123/image/upload/v1579261438/WhatsApp_Image_2020-01-17_at_12.10.41_bvaetx.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">Djakaye Dieudonne, Backend</div>
          </div>
        </div>

        <div class="item115">
          <div class="content">
            <img style="height: 100%;"
              src="https://res.cloudinary.com/sape123/image/upload/v1579261482/WhatsApp_Image_2020-01-17_at_12.10.42_1_xn4dk7.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">Tchaya Vannelle, Designer</div>
          </div>
        </div>

        <div class="item17">
          <div class="content">
            <img style="height: 100%;"
              src="https://res.cloudinary.com/sape123/image/upload/v1579261455/WhatsApp_Image_2020-01-17_at_12.10.41_1_zlk04g.jpg"
              alt="Avatar" class="avatar" />
            <div class="desc">Toussaint, Backend</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}